<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr class="table-light">
    <th scope="col">Name</th>
    <th scope="col">Price</th>

    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.name %></td>
        <td><%= producto.price %></td>
        <td><%= link_to 'Show', producto, class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto), class: "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path, class: "btn btn-danger"%>
