<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Clase SASS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= pages_home_path %>">Home</a></li>
      <li><a href="<%= pages_about_path %>">About</a></li>
      <li><a href="<%= productos_path %>">Index</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <%= yield %>
  </div>
  </body>
</html>
